# File server connection
DEPLOY_REMOTE_HOST=<ssh-host-alias>

# Main domain
DEPLOY_SITE_URL=https://resonance.<account>.workers.dev/

# SoundCloud app credentials
SOUNDCLOUD_CLIENT_ID=
SOUNDCLOUD_CLIENT_SECRET=
