.img-figure {
	margin-inline: 0;
}

.img-group .img-figure {
	margin-block: 0;
}

.img-caption {
	font-size: var(--text-sm);
	font-style: italic;
	line-height: calc(var(--spacing) * 7);
	color: var(--color-ink-600);
}

.img-caption > :last-child {
	margin-bottom: 0;
}

@media (width >= 40rem) {
	.img-align-left {
		float: left;
		width: min(var(--img-width), 50%);
		margin-inline-end: calc(var(--spacing) * 6);
	}

	.img-align-right {
		float: right;
		width: min(var(--img-width), 50%);
		margin-inline-start: calc(var(--spacing) * 6);
	}
}
