.skip-link {
	inset-block-start: env(safe-area-inset-top);
	inset-inline-start: env(safe-area-inset-left);
	translate: 0 -100vh;
	transition: translate 200ms ease-out;
}

.skip-link:focus-visible {
	translate: 0 0;
}
