html {
	scrollbar-gutter: stable;
}

body {
	font-family: var(--font-body);
	font-size: 1rem;
	line-height: 1.75;
	color: var(--color-ink-400);
	background-color: var(--color-surface-800);
}

a {
	color: var(--color-ink-300);
	text-decoration: none;
}

a:focus-visible {
	color: var(--color-ink-50);
}

@media (hover: hover) {
	a:hover {
		color: var(--color-ink-50);
	}
}

a:active {
	color: var(--color-highlight-400);
}

::selection {
	color: var(--color-surface-700);
	background-color: var(--color-ink-100);
}
